record(longout, "$(PREF)-SP") {
    field(DTYP, "FEED Register Write")
    field(DESC, "$(DESC=Reg $(NAME))")
    field(OUT , "@name=$(NAME) reg=$(REG)")
    field(PINI, "YES")
    info(autosaveFields_pass0, "VAL")
}
record(longin, "$(PREF)-I") {
    field(DTYP, "FEED Register Read")
    field(DESC, "$(DESC=Reg $(NAME))")
    field(INP , "@name=$(NAME) reg=$(REG)")
    field(SCAN, "$(SCAN=1 second)")
}
