record(longin, "$(PREF)-I") {
    field(DTYP, "FEED Register Read")
    field(DESC, "$(DESC=Reg $(NAME))")
    field(INP , "@name=$(NAME) reg=$(REG)")
    field(SCAN, "$(REGSCAN=)")
    field(TSE , "-2")
    info(feed:info:input, "$(PREF)-I")
}
