record(longin, "$(PREF)_RBV") {
    field(DTYP, "FEED Register Read")
    field(DESC, "$(REG)")
    field(INP , "@name=$(NAME) reg=$(REG)")
    field(SCAN, "$(REGSCAN)")
    field(TSE , "-2")
    info(feed:info:input, "$(PREF)_RBV")
}
