record(aao, "$(PREF)-SP") {
    field(DTYP, "FEED Register Write")
    field(DESC, "$(DESC=Reg $(NAME))")
    field(OUT , "@name=$(NAME) reg=$(REG) offset=$(OFF=0)")
    field(FTVL, "LONG")
    field(NELM, "$(SIZE)")
    field(PINI, "YES")
    info(autosaveFields_pass1, "VAL")
}
